.container {
  position: relative;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.list {
  border: 1px solid whitesmoke;
  padding: 16px;
  width: 25%;
  .note {
    padding: 32px 16px;
    &:nth-child(odd) {
      background: tomato;
      color: white;
    }
  }
}

.button {
  background: #fff;
  border: none;
  width: 100px;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
  cursor: pointer;
  font-size: 19px;
  font-weight: 300;
  margin: 5px;
  padding: 12px 15px;
}

.flying {
  position: absolute;
  animation: myship .6s;
}

@keyframes myship {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: 200px;
    left: 300px;
  }
}